<h1>Welcome to index page</h1>
<ul>
	<li><%= link_to 'Show the table','/show'%></li>
	<li><%= link_to 'Edit the table','/edit'%></li>
	<li><%= link_to 'Delete the table','/delete'%></li>
	<li><%= link_to 'Update the table','/update'%></li>
</ul>
